h1 {
    color: rgb(60, 69, 189);
}

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 6rem;
    padding-bottom: 3rem;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.navbar-toggler {
    border-radius: .5rem;
}

.jumbotron {
    border-radius: .5rem;
}

.pics {
    border-radius: .5em;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px; 
    background-color: #e9ecef;
}
  
#secret_login, #secret_login:hover, #secret_login:focus, #secret_login:active {
    text-decoration: none;
    color: inherit;
    cursor: default;
}

.social_link {
    color: inherit;
    text-decoration: none;
}

.card {
    width: 18rem;
    border-radius: .5rem;
    margin-bottom: 1.5rem;
}

.card-link,.card-link:hover {
    color: inherit;
    text-decoration: inherit;
}