{% extends "Basic_app/base.html" %}
{% block content%}
    <h1>You've found a secret!</h1>
    <p>This page isn't supposed to be used by anyone else but me, please ignore :)</p>

    {% if form.errors %}
        <p>Your username or password didn't match. Try again</p>
    {% endif %}

    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary" value="Login">
            <input type="hidden" name="next" value="{{next}}">
    </form>

{% endblock %}