{% extends "Basic_app/base.html" %}
{% block content%}
    <h1>Add New Project</h1>
    <form class="project_create" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label>Rank</label>
            {{form.rank}}
        </div>
        <div class="form-group">
            <label>Picture</label>
            {{form.project_pic}}
        </div>
        <div class="form-group">
            <label>Author</label>
            {{form.author}}
        </div>
        <div class="form-group">
            <label>Link</label>
            {{form.link}}
        </div>
        <div class="form-group">
            <label>Title</label>
            {{form.title}}
        </div>
        <div class="form-group">
            <label>Summary</label>
            {{form.summary}}
        </div>
        <div class="form-group">
            <label>Text</label>
            {{form.text}}
        </div>
        <button type="submit" class="save btn btn-default">Create Project</button>
    </form>
{% endblock %}