{% extends "Basic_app/base.html" %}
{% block content %}

<div class="row justify-content-center">
    <div class="container w-75">
            
        <div class="container d-flex align-items-center justify-content-center">
            <h1 class="display-4 ">Projects</h1>
        </div>
        <hr class="my-4">
    </div>

{% for project in project_list %}

<div class="col-auto mb-4">
    <a href="#" data-toggle="modal" data-target="#modal{{ project.rank }}" class="card-link">
    <div class="card h-100">
        <!--Only display image if there is an image to display-->
        {% if project.project_pic %}
            <img class="card-img-top pics" src="{{ project.project_pic.url }}">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ project.title }}</h1>
            <p>{{ project.summary|safe }}</p>
        </div>
    </div>
    </a>
    
</div>

<!--Popup modal code-->
<div class="modal fade" id="modal{{ project.rank }}" tabindex="-1" role="dialog" aria-labelledby="modal-title{{ project.rank }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="container">
                            <h1 class="modal-title" id="modal-title{{ project.rank }}">{{ project.title }}</h1>
                </div>
            </div>
            <!--Render this if there is an image detected in the model-->
            {% if project.project_pic %}
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <img class="card-img-top pics" src="{{ project.project_pic.url }}">
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="modal-body text-center">
                <div class="container">
                    <!-- Portfolio Modal - Text-->
                    <p>{{ project.text|safe }}</p>
                </div>
            </div>

           <div class="modal-footer">
               <!--Site Admin tool-->
                {% if user.is_authenticated %}
                    <button type="button" class="btn btn-primary"><a href="{% url 'project_detail' pk=project.pk %}" class="card-link">Detail</a></button>
                {% endif %}

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"><a href="{{ project.link }}" class="link_to_project" target="_blank">Link to Project</a></button>
            </div>
        </div>
    </div>
</div>

{% endfor %}

</div>
{% endblock %}

<!-- <a href="{% url 'project_detail' pk=project.pk %}" class="card-link"></a> -->